<%# <form action="/new/<%= keyword %>" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Enter search keyword: </label>
    <input type="text" name="keyword" id="keyword" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Search recipes">
  </div>
</form> %>
