<form action="/recipes" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Enter recipe name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="description">Enter recipe description: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form-example">
    <label for="rating">Enter recipe rating: </label>
    <input type="number" name="rating" id="rating" required>
  </div>
  <div class="form-example">
    <label for="prep time">Enter recipe prep time (mins): </label>
    <input type="number" name="prep_time" id="prep_time" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Add to cookbook">
  </div>
</form>
